In [5]:
# Write a Python program to triple all numbers of a given list of integers. Use Python map
data =[ 2,6,35,64,23,12]
list(map(lambda num:num*3 , data))

[6, 18, 105, 192, 69, 36]

In [7]:
# Write a Python program to add three given lists using Python map and lambda
data1 =[2,4,6,8]
data2 =[1,2,3,4]
list(map(lambda x,y:x+y ,data1,data2))

[3, 6, 9, 12]

In [12]:
# Write a Python program to add two given lists and find the difference between lists

"""
sample list
nums1 = [6, 5, 3, 9]
nums2 = [0, 1, 7, 7]


output  - [(6, 6), (6, 4), (10, -4), (16, 2)]

"""
                                                                                                                       
nums1 = [6, 5, 3, 9]
nums2 = [0, 1, 7, 7]

list(map(lambda x,y:(x+y,x-y) ,nums1,nums2))

[(6, 6), (6, 4), (10, -4), (16, 2)]

In [17]:
# Write a Python program to convert all the characters in uppercase and lowercase and eliminate duplicate letters from a given sequence
def new_lst(a):
    return a.upper(),a.lower()

chrars = {'a', 'b', 'E', 'f', 'a', 'i', 'o', 'U', 'a'}

a=list(map(new_lst,chrars))
print(set(a))

{('I', 'i'), ('U', 'u'), ('B', 'b'), ('O', 'o'), ('A', 'a'), ('F', 'f'), ('E', 'e')}

In [22]:
# Filter out the fruits that start with A 

fruits = ['Apple','Banana', 'Orange', 'Mango', 'Grape']
with_a=list(filter(lambda a:a.startswith("A"),fruits))
print("Fruits with prefix 'a':",with_a)

Fruits with prefix 'a': ['Apple']

In [23]:
# Filter out the positve number from a list
num_ = [ 2,1,-3,7,-4,-8,-2]
positive_num = list(filter(lambda a:True if a>0 else False , num_))
print("positve number from a list is:",positive_num)

positve number from a list is: [2, 1, 7]

In [27]:
# filter out the multiples of 3 and 5 from a list
num_=[ 3,6,2,25,15,80,60,23]
multi_3 = list(filter(lambda a:True if a%3==0 else False , num_))
multi_5 = list(filter(lambda a:True if a%5==0 else False , num_))
multi_3and_5 = list(filter(lambda a:True if a%3==0 and a%5==0 else False , num_))
print("multiples of 3 list is:",multi_3)
print("multiples of 5 from list is:",multi_5)
print("multiples of 3 and 5 from list is:",multi_3and_5)

multiples of 3 list is: [3, 6, 15, 60]
multiples of 5 from list is: [25, 15, 80, 60]
multiples of 3 and 5 from list is: [15, 60]

In [31]:
# find the max string using reuduce function
num_ = [ 76,2,5,12,78,65,90]
from functools import reduce 
max_=reduce(lambda a,b: a if a>b else b ,num_)
print("Maximum number is:",max_)

Maximum number is: 90

In [76]:
# find the mean , max and min of a given list using reduce function
data = [1,2,3,4]
sum_=reduce(lambda a,b:a+b ,data)
n=len(data)
mean_=sum_/n
print("Mean of given list is:",mean_)
max_=reduce(lambda a,b: a if a>b else b ,data)
print("Max of given list is:",max_)
min_=reduce(lambda a,b: a if a<b else b ,data)
print("Max of given list is:",min_)

Mean of given list is: 2.5
Max of given list is: 4
Max of given list is: 1